:root {
    background-color:steelblue;
}

body {
    margin: 0 !important;
}

#welcome_view_body {
    padding-top: 100px;
    width: 600px;
    height: 400px;
    margin: auto;
}

.welcome_view_component {
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    position: relative;
}

#logo_and_slogan {
    float: left;
    width: 340px;
    height: 400px;
}

#login {
    float: right;
    width: 250px;
    height: 100px;
    padding: 2px;
}

#signup {
    float: right;
    width: 250px;
    margin-top: 10px;
    height: 290px;
    padding: 2px;
}

#signup h2 {
    text-align: center;
}

.welcome_view_component .welcome_view_input {
    display: flex;
    margin-top: 2px;
}

.welcome_view_component .welcome_view_input label {
    flex-grow: 1;
}

.welcome_view_component .welcome_view_input input {
    box-sizing: border-box;
    width: 140px;
}

.welcome_view_component .welcome_view_input select {
    width: 140px;
}

.welcome_view_button {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

#message_box {
    margin-top: 10px;
    width: 600px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
    border-radius: 20px;
}

#message_box.hidden_animation {
    opacity: 0;
}

#tab_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#tab_bar .tab {
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    flex-grow: 1;
    text-align: center;
}

#tab_bar .selected {
    background-color: lightgrey;
}

#tab_bar .tab p {
    font-size: 30px;
    margin: 5px;
}
