:root {
    background-color:steelblue;
}

body {
    margin: 0 !important;
}

#welcome_view_body {
    padding-top: 100px;
    width: 600px;
    height: 400px;
    margin: auto;
}

#home_panel {
    padding-top: 50px;
    width: 600px;
    margin: auto;
}

#browse_panel {
    padding-top: 50px;
    width: 600px;
    margin: auto;
}

#account_panel {
    padding-top: 50px;
    width: 300px;
    margin: auto;
}

.component {
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    position: relative;
    padding: 2px;
}

#logo_and_slogan {
    float: left;
    width: 340px;
    height: 400px;
}

#login {
    float: right;
    width: 250px;
    height: 100px;
    padding: 2px;
}

#signup {
    float: right;
    width: 250px;
    margin-top: 10px;
    height: 290px;
    padding: 2px;
}

#signup h2 {
    text-align: center;
}

.user_info_component {
    float: left;
    width: 295px;
    height: 200px;
}

.post_message_component {
    float: right;
    width: 295px;
    height: 200px;
}

.message_wall_component {
    clear: both;
    width: 100%;
}

#search_user_component {
    clear: both;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#searched_user_info_component {
    float: right;
    width: 295px;
    height: 230px;
}

.component .form_input {
    display: flex;
    margin-top: 2px;
}

.component .form_input label {
    flex-grow: 1;
}

.component .form_input input {
    box-sizing: border-box;
    width: 140px;
}

.component .form_input select {
    width: 140px;
}

.welcome_view_button {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

#welcome_view_message_box {
    margin-top: 10px;
    width: 600px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
}

.message_box {
    border-radius: 20px;
}

.message_box p {
    text-align: center;
}

.animated {
    opacity: 1;
    transition: opacity 1s;
}

.hidden_animation {
    opacity: 0;
}

#tab_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#tab_bar .tab {
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    flex: 1;
    flex-basis: auto;
}

#tab_bar .selected {
    background-color: lightgrey;
}

#tab_bar .tab p {
    font-size: 30px;
    margin: 5px;
    width: 0;
}

.panel div {
    margin-bottom: 10px;
}

.component_button {
    width: calc(100% - 10px);
    margin: 5px;
}

.multiline_input {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}

.message_feed {
    height: 200px;
    overflow-y: scroll;
}

.message_wall_refresh_button {
    position: absolute;
    right: 5px;
    top: 5px;
}
